<div class = "row">
    <div class = "col-md-2">
        <button (click)="onClearStorage()" class="form-control btn btn-primary">Clear local storage</button>
    </div>
    
    <div class = "col-md-2">
        <button (click)="onUpdateStorage()" class="form-control btn btn-primary">Update Employees List</button>
    </div>    
</div>
<br>
<br>
<div class="row">
   <div class = "col-md-12" id="timeline">
   </div>
</div>
<br>
<br>
<div class= "row">
    <div class = "col-md-offset-1 col-md-5">
        here employees data will come
    </div>

</div>
<br><br>
